.link {
    width: 50px;
    height: 50px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mantine-color-text);
}

.link:hover {
    background-color: var(--mantine-primary-color-light-hover);
}

.link[data-active] {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);
}

.link[data-active]:hover {
    background-color: var(--mantine-primary-color-filled-hover);
}

.mobileLink {
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-text);
}

.mobileLink:hover {
    background-color: var(--mantine-color-default-hover);
}

.mobileLink[data-active] {
    background-color: var(--mantine-primary-color-light);
    color: var(--mantine-primary-color-light-color);
}
